$hjm-primary: #20272f;
$hjm-secondary: #70bde8;
$hjm-tertiary: #29a1e4;
$hjm-blue: #29a1e4;
$porcelain: #ecf0f1;
$sem-white: #f7f9fb;
$hjm-gray: #464646;
$hjm-bg-gray: #ecf0f1;
$hjm-lightGray: #5a5a5a;